<div class="c-homepage">

  <app-page-top data-obj='${ this.appPageTop }'></app-page-top>


  <form action="">
    <div class="col-xs-12 content-block-wrapper no_padding">
      <div class="tab-content page_tabs_contents">

          <mutual id="mutual" class="tab-pane fade in active clearfix"></mutual>
          <contacts id="contacts" class="tab-pane fade clearfix"></contacts>
          <conditions id="conditions" class="tab-pane fade"></conditions>
          <services id="services" class="tab-pane fade clearfix"></services>
          <decor id="decor" class="tab-pane fade clearfix"></decor>

      </div>
    </div>
  </form>

</div>