<nav>
    <ul>
        <li>
            <a href="#">
                <span></span>
                SERVICE
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                USERS
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                LIMITS
            </a>
        </li>
        <li class="active">
            <a href="#">
                <span></span>
                ALERTS
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                KEYS
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                REPORTS
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                SECURITY
            </a>
        </li>
    </ul>
</nav>