.c-user-top-menu {
  background: none;
  border: 0;
  border-left:1px solid #e5e5e5;
  height: 50px;
  &.open {
    .caret {
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  button {
    min-width: 260px;
    height: 50px;
    border: 0;
    border-radius: 0;
    background: none;
    padding-left: 20px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      min-width: 145px;
      padding: 0 8px;
      font-size: 13px;
      letter-spacing: 0.1px;
      font-family: 'GothamProMedium';
      color: #232b2f;
    }
  }

  .dropdown-menu {
    width:260px;
    border-radius: 0;
    border: 0px;
    box-shadow: none;
    margin: -1px 0 0;
    li {
      position: relative;
      &::before {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 24px;
        top: 50%;
        margin: -10px 0 0;
        color:#000;
        font-size: 18px;
      }
      a {
        min-height: 50px;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: #232b2f;
        padding: 16px 10px 16px 60px;
        &:hover {
          background: none;
        }
      }
    }
  }
}