<div class="c-rooms">

  <div class="tab-content page_tabs_contents">
    <div id="panel1" class="tab-pane fade in active clearfix">
      содержимое файла /sites/page-add-category.html
    </div>

    <div id="panel2" class="tab-pane fade clearfix">
      <div class="col-xs-4 left-padding nav nav-tabs">
        <h5 class="c-h5-outer">Категории номеров</h5>

        <object-settings-list></object-settings-list>

      </div>

      <div class="col-xs-8 tab-content right-padding">
        <h5 class="c-h5-outer">Характеристика номера</h5>

        <div id="obj-settings-panel-1" class="tab-pane fade in active no_padding">
          <div class="col-xs-12 form_elements_container">
            <div class="col-xs-12 select-bottom-margin">
              <app-select></app-select>
            </div>

            <div class="col-xs-12">
              <h6 class="c-h6">КУРЕНИЕ РАЗРЕШЕНО?</h6>
              <app-radio></app-radio>
            </div>

            <div class="row panel-group c-services-accordion" id="flat-accordion">
              <div class="panel panel-default">

                <div class="panel-heading active" role="tab" id="">
                  <a data-toggle="collapse" data-parent="#flat-accordion" href="#obj-collapse1">Доступность<span>0/23</span></a>
                </div>
                <div id="obj-collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">

                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>
                    <app-checkbox></app-checkbox>

                    <small-button></small-button>

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse2">Особенности номера<span>0/23</span></a>
                </div>
                <div id="obj-collapse2" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse4">Климат контроль / Освещение / Звукоизоляция<span>0/23</span></a>
                </div>
                <div id="obj-collapse4" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse5">Медиа и технологии<span>0/23</span></a>
                </div>
                <div id="obj-collapse5" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse6">Ванная комната<span>0/23</span></a>
                </div>
                <div id="obj-collapse6" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse7">Кухня / Питание / Напитки<span>0/23</span></a>
                </div>
                <div id="obj-collapse7" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse8">Мебель<span>0/23</span></a>
                </div>
                <div id="obj-collapse8" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse9">Прочее<span>0/23</span></a>
                </div>
                <div id="obj-collapse9" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#obj-collapse10">Развлечения и семейные услуги<span>0/23</span></a>
                </div>
                <div id="obj-collapse10" class="panel-collapse collapse">
                  <div class="panel-body">22</div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div id="obj-settings-panel-2" class="tab-pane fade">2</div>
        <div id="obj-settings-panel-3" class="tab-pane fade">3</div>

        <div class="c-blue-button next-button-wrap clearfix">
          <button class="pull-right">Далее</button>
        </div>

      </div>
    </div>

    <div id="panel3" class="tab-pane fade">
      <div class="col-xs-4 left-padding nav nav-tabs">
        <h5 class="c-h5-outer">Категории номеров</h5>
        <ul class="nav nav-tabs c-object-settings-list">
          <li class="active"><a  data-toggle="tab" href="#obj-settings-panel-1-1">УНИКАЛЬНОЕ НАЗВАНИЕ КАТЕГОРИИ 1</a></li>
          <li><a  data-toggle="tab" href="#obj-settings-panel-1-2">УНИКАЛЬНОЕ НАЗВАНИЕ КАТЕГОРИИ 2</a></li>
          <li><a  data-toggle="tab" href="#obj-settings-panel-1-3">УНИКАЛЬНОЕ НАЗВАНИЕ КАТЕГОРИИ 3</a></li>
          <li>
            <div class="content-add-accordeon">
              <input type="button" value="ДОБАВИТЬ КАТЕГОРИЮ НОМЕРА">
            </div>
          </li>
        </ul>
      </div>

      <div class="col-xs-8 tab-content right-padding">
        <h5 class="c-h5-outer">Настройка базовых цен</h5>

        <div id="obj-settings-panel-1-1" class="tab-pane fade in active no_padding">
          <div class="col-xs-12 form_elements_container">

            <div class="col-xs-12 bottom-margin clearfix">
              <div class="c-helper">
                <h6 class="c-6h-bold"><span>?</span>Стоимость услуги - платно</h6>
                <p class="c-paragraph">На сервисе для гостей объекта вместо кнопки "ЗАБРОНИРОВАТЬ" на выбранном номере будет кнопка "УЗНАТЬ ДОСТУПНОСТЬ". Бронь будет отображаться в текущих бронированиях со статусом "ЗАЯВКА"</p>
              </div>
            </div>

            <div class="col-xs-12 clearfix">
              <h6 class="c-h6">ЗА 4 ГОСТЕЙ (КОЛИЧЕСТВО ОСНОВНЫХ МЕСТ В 1 НОМЕРЕ)</h6>
              <input type="text" class="c-input" placeholder="Базовая цена за ночь (RUB за ночь)">
            </div>

          </div>

          <div class="col-xs-12 form_elements_container">
            <div class="col-xs-12 clearfix">
              <h5 class="c-h5">Доплата за +1 гостя с доп. местом</h5>

              <input type="text" class="c-input" placeholder="Взрослый (RUB)">

              <input type="text" class="c-input" placeholder="Ребенок от 0 до 3 лет (RUB)">

              <input type="text" class="c-input" placeholder="Ребенок от 4 до 7 лет (RUB)">
            </div>
          </div>

          <div class="col-xs-12 form_elements_container">
            <div class="col-xs-12 clearfix">
              <h5 class="c-h5">Доплата за +1 ребенка без места</h5>

              <input type="text" class="c-input" placeholder="Ребенок от 0 до 3 лет (RUB)">

              <input type="text" class="c-input" placeholder="Ребенок от 4 до 7 лет (RUB)">
            </div>
          </div>

          <div class="col-xs-12 form_elements_container">
            <div class="col-xs-12 clearfix">
              <h5 class="c-h5">Базовые скидки для категории номера</h5>

              <h6 class="c-h6">Хотите работать в режиме заявки ?</h6>
              <div class="radio-group">
                <label class="c-radio-label" for="radio5"><input name="1" value="Нет" id="radio5" class="c-radio" type="radio"><span>Нет</span></label>
                <label class="c-radio-label" for="radio6"><input name="1" value="Да" id="radio6" class="c-radio" type="radio"><span>Да</span></label>
              </div>
            </div>

            <div class="panel-group row c-services-accordion tab-pane fade in active" id="settings-accordion-0" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="page-setting-rad-tab">
                  <label class="c-checkbox-label" for="checkbox333" role="button" data-parent="#settings-accordion-0" data-toggle="collapse" href="#page-settings-acc-1" aria-expanded="true" aria-controls="page-settings-acc-1">
                    <input class="c-radio" type="radio" id="checkbox333">
                    <span>Правило скидки 1</span>
                  </label>
                </div>
                <div id="page-settings-acc-1" class="panel-collapse collapse" role="tabpanel2" aria-labelledby="headingth">
                  <div class="panel-body">
                    <div class="col-xs-12 clearfix">
                      <p><label class="c-label" for="">Введите название правила</label></p>
                      <input type="text" class="c-input" placeholder="Правило скидки 1">

                      <p><label class="c-label" for="">max скидка распространяется</label></p>
                      <select name="" id="" class="c-select">
                        <option value="На 1 гостя">На 1 гостя</option>
                        <option value="На 1 гостя">На 1 гостя</option>
                        <option value="На 1 гостя">На 1 гостя</option>
                      </select>

                      <h6 class="c-h6 top-margin">ТИП СКИДКИ</h6>

                      <div class="row c-prefix-radio">
                        <div class="col-xs-4">
                          <input class="c-radio" name="page-setting-radio-1" type="radio" id="page-set-radio-1">
                          <label for="page-set-radio-1">Указать единую скидка на каждого человека</label>
                        </div>
                        <div class="col-xs-8">
                          <select name="" id="" class="c-select">
                            <option value="%">%</option>
                            <option value="5%">5%</option>
                            <option value="15%">15%</option>
                            <option value="25%">25%</option>
                          </select>
                        </div>
                      </div>

                      <div class="row c-prefix-radio">
                        <div class="col-xs-4">
                          <input class="c-radio" name="page-setting-radio-1" type="radio" id="page-set-radio-2">
                          <label for="page-set-radio-2">Указать вручную скидку для каждого количества гостей</label>
                        </div>
                        <div class="col-xs-8">
                          <select name="" id="" class="c-select">
                            <option value="RUB">RUB</option>
                            <option value="RUB">RUB</option>
                            <option value="RUB">RUB</option>
                            <option value="RUB">RUB</option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-4 c-prefix-select">
                          <span>Размер скидки для 3 гостей</span>
                        </div>
                        <div class="col-xs-8">
                          <input type="text" class="c-input" placeholder="Введите размер скидки для 3 гостей">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-4 c-prefix-select">
                          <span>Размер скидки для 2 гостей</span>
                        </div>
                        <div class="col-xs-8">
                          <input type="text" class="c-input" placeholder="Введите размер скидки для 2 гостей">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-4 c-prefix-select">
                          <span>Размер скидки для 1 гостя</span>
                        </div>
                        <div class="col-xs-8">
                          <input type="text" class="c-input" placeholder="Введите размер скидки для 1 гостя">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="small-button-wrap clearfix">
              <button class="c-small-button pull-left">Показать просчет скидки</button>
              <button class="c-small-button pull-right">Создать новое правило</button>
            </div>
          </div>

          <div class="col-xs-12 form_elements_container">
            <div class="col-xs-12 clearfix">
              <h5 class="c-h5">Базовые скидки для категории номера</h5>

              <h6 class="c-h6">СНИЖАЕТЕ ЛИ ВЫ ЦЕНУ ПРИ РАЗМЕЩЕНИИ ДЕТЕЙ НА ОСНОВНЫХ МЕСТАХ?</h6>
              <div class="radio-group">
                <label class="c-radio-label" for="radio55"><input name="2" value="Нет" id="radio55" class="c-radio" type="radio"><span>Нет</span></label>
                <label class="c-radio-label" for="radio66"><input name="2" value="Да" id="radio66" class="c-radio" type="radio"><span>Да</span></label>
              </div>
            </div>

            <div class="panel-group row c-services-accordion tab-pane fade in active" id="settings-accordion-1" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="page-setting-rad-tab-1">
                  <label class="c-checkbox-label" for="checkbox444" role="button" data-parent="#settings-accordion-1" data-toggle="collapse" href="#page-settings-acc-2" aria-expanded="true" aria-controls="page-settings-acc-2">
                    <input class="c-radio" type="radio" id="checkbox444">
                    <span>Введите название</span>
                  </label>
                </div>
                <div id="page-settings-acc-2" class="panel-collapse collapse" role="tabpanel2" aria-labelledby="headingth">
                  <div class="panel-body">
                    <div class="col-xs-12 clearfix">
                      <p><label class="c-label" for="">Введите название правила</label></p>
                      <input type="text" class="c-input" placeholder="Правило скидки">
                    </div>

                    <div class="col-xs-12 c-input-text-select">
                      <div class="col-xs-10 no_padding"><input type="text" class="c-input" placeholder="Введите размер скидки на 1 ребенка"></div>
                      <div class="col-xs-2 no_padding">
                        <select name="" id="" class="c-select">
                          <option value="RUB">RUB</option>
                          <option value="RUB">RUB</option>
                          <option value="RUB">RUB</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-xs-12 bottom-margin">
                      <h6 class="c-h6">ПРИМЕНЯТЬ ДЛЯ</h6>
                      <div class="c-checkbox-wrap">
                        <label class="c-checkbox-label" for="checkbox-1-0-3">
                          <input class="c-checkbox" type="checkbox" id="checkbox-1-0-3">
                          <span>От 0 до 3 лет</span>
                        </label>
                      </div>
                      <div class="c-checkbox-wrap">
                        <label class="c-checkbox-label" for="checkbox-1-4-7">
                          <input class="c-checkbox" type="checkbox" id="checkbox-1-4-7">
                          <span>От 4 до 7 лет</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-12 clearfix">
                      <div class="col-xs-6 c-prefix-select">
                        <span>Скидка распространяется max на</span>
                      </div>
                      <div class="col-xs-2">
                        <select name="" id="" class="c-select">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                      <div class="col-xs-4 c-prefix-select">
                        <span>ребенка</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="small-button-wrap clearfix">
              <button class="c-small-button pull-left">Показать просчет скидки</button>
              <button class="c-small-button pull-right">Создать новое правило</button>
            </div>
          </div>

          <div class="col-xs-12 form_elements_container">
            <div class="col-xs-12 clearfix">
              <h5 class="c-h5">Базовые скидки для категории номера</h5>

              <h6 class="c-h6">ЦЕНА СНИЖАЕТСЯ ПРИ ПРОДОЛЖИТЕЛЬНОМ РАЗМЕЩЕНИИ ГОСТЕЙ?</h6>
              <div class="radio-group">
                <label class="c-radio-label" for="radio555"><input name="2" value="Нет" id="radio555" class="c-radio" type="radio"><span>Нет</span></label>
                <label class="c-radio-label" for="radio666"><input name="2" value="Да" id="radio666" class="c-radio" type="radio"><span>Да</span></label>
              </div>
            </div>

            <div class="panel-group row c-services-accordion tab-pane fade in active" id="settings-accordion-2" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="page-setting-rad-tab-2">
                  <label class="c-checkbox-label" for="checkbox555" role="button" data-parent="#settings-accordion-2" data-toggle="collapse" href="#page-settings-acc-3" aria-expanded="true" aria-controls="page-settings-acc-3">
                    <input class="c-radio" type="radio" id="checkbox555">
                    <span>Название правила 2</span>
                  </label>
                </div>
                <div id="page-settings-acc-3" class="panel-collapse collapse" role="tabpanel2" aria-labelledby="headingth">
                  <div class="panel-body">
                    <div class="col-xs-12 clearfix">
                      <p><label class="c-label" for="">Введите название правила</label></p>
                      <input type="text" class="c-input" placeholder="Название правила 2">
                    </div>

                    <div class="col-xs-12 c-input-text-select">
                      <div class="row">
                        <div class="col-xs-7">
                          <p><label class="c-label" for="">Применять правило для</label></p>
                          <select name="" id="" class="c-select">
                            <option value="Всех ночей, если бронь более Н ночей">Всех ночей, если бронь более Н ночей</option>
                            <option value="Всех ночей, если бронь более Н ночей">Всех ночей, если бронь более Н ночей</option>
                            <option value="Всех ночей, если бронь более Н ночей">Всех ночей, если бронь более Н ночей</option>
                          </select>
                        </div>
                        <div class="col-xs-5">
                          <p><label class="c-label" for="">Ночь - Н</label></p>
                          <input type="text" class="c-input" placeholder="2">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 bottom-margin">
                      <select name="" id="" class="c-select">
                        <option value="Скидка для гостей">Скидка для гостей</option>
                        <option value="Скидка для гостей">Скидка для гостей</option>
                        <option value="Скидка для гостей">Скидка для гостей</option>
                      </select>
                    </div>

                    <div class="col-xs-12 c-input-text-select">
                      <div class="col-xs-10 no_padding"><input type="text" class="c-input" placeholder="Введите размер скидки"></div>
                      <div class="col-xs-2 no_padding">
                        <select name="" id="" class="c-select">
                          <option value="%">%</option>
                          <option value="%">%</option>
                          <option value="%">%</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="small-button-wrap clearfix">
              <button class="c-small-button pull-left">Показать просчет скидки</button>
              <button class="c-small-button pull-right">Создать новое правило</button>
            </div>
          </div>

        </div>

        <div id="obj-settings-panel-1-2" class="tab-pane fade">2</div>
        <div id="obj-settings-panel-1-3" class="tab-pane fade">3</div>

        <div class="next-button-wrap clearfix">
          <button class="c-blue-button pull-right">Далее</button>
          <button class="c-blue-transparent-button pull-right">КАЛЬКУЛЯЦИЯ СКИДОК</button>
        </div>
      </div>
    </div>

    <div id="panel4" class="tab-pane fade clearfix">
      <div class="col-xs-4 left-padding nav nav-tabs">
        <h5 class="c-h5-outer">Категории номеров</h5>
        <ul class="nav nav-tabs c-object-settings-list">
          <li class="active"><a  data-toggle="tab" href="#obj-settings-panel-2-1">УНИКАЛЬНОЕ НАЗВАНИЕ КАТЕГОРИИ 1</a></li>
          <li><a  data-toggle="tab" href="#obj-settings-panel-2-2">УНИКАЛЬНОЕ НАЗВАНИЕ КАТЕГОРИИ 2</a></li>
          <li><a  data-toggle="tab" href="#obj-settings-panel-2-3">УНИКАЛЬНОЕ НАЗВАНИЕ КАТЕГОРИИ 3</a></li>
          <li>
            <div class="content-add-accordeon">
              <input type="button" value="ДОБАВИТЬ КАТЕГОРИЮ НОМЕРА">
            </div>
          </li>
        </ul>
      </div>

      <div class="col-xs-8 tab-content right-padding">
        <h5 class="c-h5-outer"></h5>

        <div id="obj-settings-panel-2-1" class="tab-pane fade in active no_padding">
          <div class="row">
            <div class="col-xs-9 form_elements_container">
              <div class="col-xs-12">
                <h5 class="c-h5">Общее описание категории номера</h5>
              </div>
              <div class="col-xs-12">
                <label class="c-label" for="">Общее описание категории номера</label>
                <textarea class="c-textarea textarea-large">
«1000 символов – это сколько?» — вопрос, который часто задают новоиспеченные копирайтеры и заказчики. Ответить можно и коротко, и подлиннее. Кое о чем будет полезно вспомнить даже акулам пера.
Сегодня я решил написать небольшую шпаргалочку.
1000 символов – это, скажем так, особая валюта копирайтеров, которую можно конвертировать в рубли.
Для этого не понадобится идти в банк. Чаще всего первым «пунктом обмена валют» для новичка становится какая-нибудь статейная биржа.
Меняя символы на рубли/гривны/доллары, иные авторы могут подсунуть заказчику «фальшивку». Например, неуникальный текст.
Конечно, после этого к вам домой не нагрянут полицейские, и на суд не вызовут. Но если вы настроены работать серьезно и выйти на солидные доходы – сдавайте клиенту «чистую монету», и со временем вам отплатят тем же стократно.
Чаще всего статьи для страниц обычных сайтов оплачиваются именно так – из расчета за тысячу символов. Это своеобразный номинал.
Когда заказчик формирует техническое задание на одной из бирж, ему нужно указать объем текста и цену за тысячу знаков. Копирайтер, принимая заказ в работу, видит эти цифры. Соответственно, оба должны знать, что они значат.</textarea>
                <div>
                  <div class="pull-left">Максимальное количество символов</div>
                  <div class="pull-right">829/1000</div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="col-xs-12">
                <div class="c-add-3d-tour add-photo">Добавить фото</div>
                <div class="c-add-3d-tour add-tour">Добавить 3Д-Тур</div>
              </div>
            </div>
          </div>
        </div>

        <div id="obj-settings-panel-2-2" class="tab-pane fade">2</div>
        <div id="obj-settings-panel-2-3" class="tab-pane fade">3</div>

        <div class="next-button-wrap clearfix">
          <button class="c-blue-button pull-right">Далее</button>
        </div>
      </div>
    </div>

  </div>

</div>